bcrypt==4.0.1
en-core-web-sm==3.6.0
  - spacy [required: >=3.6.0,<3.7.0, installed: 3.6.1]
    - catalogue [required: >=2.0.6,<2.1.0, installed: 2.0.9]
    - cymem [required: >=2.0.2,<2.1.0, installed: 2.0.8]
    - Jinja2 [required: Any, installed: 3.1.2]
      - MarkupSafe [required: >=2.0, installed: 2.1.3]
    - langcodes [required: >=3.2.0,<4.0.0, installed: 3.3.0]
    - murmurhash [required: >=0.28.0,<1.1.0, installed: 1.0.10]
    - numpy [required: >=1.15.0, installed: 1.25.2]
    - packaging [required: >=20.0, installed: 23.1]
    - pathy [required: >=0.10.0, installed: 0.10.2]
      - smart-open [required: >=5.2.1,<7.0.0, installed: 6.4.0]
      - typer [required: >=0.3.0,<1.0.0, installed: 0.9.0]
        - click [required: >=7.1.1,<9.0.0, installed: 8.1.6]
          - colorama [required: Any, installed: 0.4.6]
        - typing-extensions [required: >=3.7.4.3, installed: 4.7.1]
    - preshed [required: >=3.0.2,<3.1.0, installed: 3.0.9]
      - cymem [required: >=2.0.2,<2.1.0, installed: 2.0.8]
      - murmurhash [required: >=0.28.0,<1.1.0, installed: 1.0.10]
    - pydantic [required: >=1.7.4,<3.0.0,!=1.8.1,!=1.8, installed: 2.3.0]
      - annotated-types [required: >=0.4.0, installed: 0.5.0]
      - pydantic-core [required: ==2.6.3, installed: 2.6.3]
        - typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.7.1]
      - typing-extensions [required: >=4.6.1, installed: 4.7.1]
    - requests [required: >=2.13.0,<3.0.0, installed: 2.31.0]
      - certifi [required: >=2017.4.17, installed: 2023.7.22]
      - charset-normalizer [required: >=2,<4, installed: 3.2.0]
      - idna [required: >=2.5,<4, installed: 3.4]
      - urllib3 [required: >=1.21.1,<3, installed: 1.26.16]
    - setuptools [required: Any, installed: 58.1.0]
    - smart-open [required: >=5.2.1,<7.0.0, installed: 6.4.0]
    - spacy-legacy [required: >=3.0.11,<3.1.0, installed: 3.0.12]
    - spacy-loggers [required: >=1.0.0,<2.0.0, installed: 1.0.5]
    - srsly [required: >=2.4.3,<3.0.0, installed: 2.4.7]
      - catalogue [required: >=2.0.3,<2.1.0, installed: 2.0.9]
    - thinc [required: >=8.1.8,<8.2.0, installed: 8.1.12]
      - blis [required: >=0.7.8,<0.8.0, installed: 0.7.10]
        - numpy [required: >=1.19.0, installed: 1.25.2]
      - catalogue [required: >=2.0.4,<2.1.0, installed: 2.0.9]
      - confection [required: >=0.0.1,<1.0.0, installed: 0.1.3]
        - pydantic [required: >=1.7.4,<3.0.0,!=1.8.1,!=1.8, installed: 2.3.0]
          - annotated-types [required: >=0.4.0, installed: 0.5.0]
          - pydantic-core [required: ==2.6.3, installed: 2.6.3]
            - typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.7.1]
          - typing-extensions [required: >=4.6.1, installed: 4.7.1]
        - srsly [required: >=2.4.0,<3.0.0, installed: 2.4.7]
          - catalogue [required: >=2.0.3,<2.1.0, installed: 2.0.9]
      - cymem [required: >=2.0.2,<2.1.0, installed: 2.0.8]
      - murmurhash [required: >=1.0.2,<1.1.0, installed: 1.0.10]
      - numpy [required: >=1.19.0, installed: 1.25.2]
      - packaging [required: >=20.0, installed: 23.1]
      - preshed [required: >=3.0.2,<3.1.0, installed: 3.0.9]
        - cymem [required: >=2.0.2,<2.1.0, installed: 2.0.8]
        - murmurhash [required: >=0.28.0,<1.1.0, installed: 1.0.10]
      - pydantic [required: >=1.7.4,<3.0.0,!=1.8.1,!=1.8, installed: 2.3.0]
        - annotated-types [required: >=0.4.0, installed: 0.5.0]
        - pydantic-core [required: ==2.6.3, installed: 2.6.3]
          - typing-extensions [required: >=4.6.0,!=4.7.0, installed: 4.7.1]
        - typing-extensions [required: >=4.6.1, installed: 4.7.1]
      - setuptools [required: Any, installed: 58.1.0]
      - srsly [required: >=2.4.0,<3.0.0, installed: 2.4.7]
        - catalogue [required: >=2.0.3,<2.1.0, installed: 2.0.9]
      - wasabi [required: >=0.8.1,<1.2.0, installed: 1.1.2]
        - colorama [required: >=0.4.6, installed: 0.4.6]
    - tqdm [required: >=4.38.0,<5.0.0, installed: 4.66.1]
      - colorama [required: Any, installed: 0.4.6]
    - typer [required: >=0.3.0,<0.10.0, installed: 0.9.0]
      - click [required: >=7.1.1,<9.0.0, installed: 8.1.6]
        - colorama [required: Any, installed: 0.4.6]
      - typing-extensions [required: >=3.7.4.3, installed: 4.7.1]
    - wasabi [required: >=0.9.1,<1.2.0, installed: 1.1.2]
      - colorama [required: >=0.4.6, installed: 0.4.6]
Flask-Caching==2.0.2
  - cachelib [required: >=0.9.0,<0.10.0, installed: 0.9.0]
  - Flask [required: <3, installed: 2.3.2]
    - blinker [required: >=1.6.2, installed: 1.6.2]
    - click [required: >=8.1.3, installed: 8.1.6]
      - colorama [required: Any, installed: 0.4.6]
    - importlib-metadata [required: >=3.6.0, installed: 6.8.0]
      - zipp [required: >=0.5, installed: 3.16.2]
    - itsdangerous [required: >=2.1.2, installed: 2.1.2]
    - Jinja2 [required: >=3.1.2, installed: 3.1.2]
      - MarkupSafe [required: >=2.0, installed: 2.1.3]
    - werkzeug [required: >=2.3.3, installed: 2.3.7]
      - MarkupSafe [required: >=2.1.1, installed: 2.1.3]
Flask-Cors==4.0.0
  - Flask [required: >=0.9, installed: 2.3.2]
    - blinker [required: >=1.6.2, installed: 1.6.2]
    - click [required: >=8.1.3, installed: 8.1.6]
      - colorama [required: Any, installed: 0.4.6]
    - importlib-metadata [required: >=3.6.0, installed: 6.8.0]
      - zipp [required: >=0.5, installed: 3.16.2]
    - itsdangerous [required: >=2.1.2, installed: 2.1.2]
    - Jinja2 [required: >=3.1.2, installed: 3.1.2]
      - MarkupSafe [required: >=2.0, installed: 2.1.3]
    - werkzeug [required: >=2.3.3, installed: 2.3.7]
      - MarkupSafe [required: >=2.1.1, installed: 2.1.3]
Flask-MySQL==1.5.2
  - Flask [required: Any, installed: 2.3.2]
    - blinker [required: >=1.6.2, installed: 1.6.2]
    - click [required: >=8.1.3, installed: 8.1.6]
      - colorama [required: Any, installed: 0.4.6]
    - importlib-metadata [required: >=3.6.0, installed: 6.8.0]
      - zipp [required: >=0.5, installed: 3.16.2]
    - itsdangerous [required: >=2.1.2, installed: 2.1.2]
    - Jinja2 [required: >=3.1.2, installed: 3.1.2]
      - MarkupSafe [required: >=2.0, installed: 2.1.3]
    - werkzeug [required: >=2.3.3, installed: 2.3.7]
      - MarkupSafe [required: >=2.1.1, installed: 2.1.3]
  - PyMySQL [required: Any, installed: 1.1.0]
Flask-RESTful==0.3.10
  - aniso8601 [required: >=0.82, installed: 9.0.1]
  - Flask [required: >=0.8, installed: 2.3.2]
    - blinker [required: >=1.6.2, installed: 1.6.2]
    - click [required: >=8.1.3, installed: 8.1.6]
      - colorama [required: Any, installed: 0.4.6]
    - importlib-metadata [required: >=3.6.0, installed: 6.8.0]
      - zipp [required: >=0.5, installed: 3.16.2]
    - itsdangerous [required: >=2.1.2, installed: 2.1.2]
    - Jinja2 [required: >=3.1.2, installed: 3.1.2]
      - MarkupSafe [required: >=2.0, installed: 2.1.3]
    - werkzeug [required: >=2.3.3, installed: 2.3.7]
      - MarkupSafe [required: >=2.1.1, installed: 2.1.3]
  - pytz [required: Any, installed: 2023.3]
  - six [required: >=1.3.0, installed: 1.16.0]
flask-sqlalchemy==3.0.5
  - Flask [required: >=2.2.5, installed: 2.3.2]
    - blinker [required: >=1.6.2, installed: 1.6.2]
    - click [required: >=8.1.3, installed: 8.1.6]
      - colorama [required: Any, installed: 0.4.6]
    - importlib-metadata [required: >=3.6.0, installed: 6.8.0]
      - zipp [required: >=0.5, installed: 3.16.2]
    - itsdangerous [required: >=2.1.2, installed: 2.1.2]
    - Jinja2 [required: >=3.1.2, installed: 3.1.2]
      - MarkupSafe [required: >=2.0, installed: 2.1.3]
    - werkzeug [required: >=2.3.3, installed: 2.3.7]
      - MarkupSafe [required: >=2.1.1, installed: 2.1.3]
  - SQLAlchemy [required: >=1.4.18, installed: 2.0.20]
    - greenlet [required: !=0.4.17, installed: 2.0.2]
    - typing-extensions [required: >=4.2.0, installed: 4.7.1]
flask-swagger==0.2.14
  - Flask [required: >=0.10, installed: 2.3.2]
    - blinker [required: >=1.6.2, installed: 1.6.2]
    - click [required: >=8.1.3, installed: 8.1.6]
      - colorama [required: Any, installed: 0.4.6]
    - importlib-metadata [required: >=3.6.0, installed: 6.8.0]
      - zipp [required: >=0.5, installed: 3.16.2]
    - itsdangerous [required: >=2.1.2, installed: 2.1.2]
    - Jinja2 [required: >=3.1.2, installed: 3.1.2]
      - MarkupSafe [required: >=2.0, installed: 2.1.3]
    - werkzeug [required: >=2.3.3, installed: 2.3.7]
      - MarkupSafe [required: >=2.1.1, installed: 2.1.3]
  - PyYAML [required: >=5.1, installed: 6.0.1]
Flask-WTF==1.1.1
  - Flask [required: Any, installed: 2.3.2]
    - blinker [required: >=1.6.2, installed: 1.6.2]
    - click [required: >=8.1.3, installed: 8.1.6]
      - colorama [required: Any, installed: 0.4.6]
    - importlib-metadata [required: >=3.6.0, installed: 6.8.0]
      - zipp [required: >=0.5, installed: 3.16.2]
    - itsdangerous [required: >=2.1.2, installed: 2.1.2]
    - Jinja2 [required: >=3.1.2, installed: 3.1.2]
      - MarkupSafe [required: >=2.0, installed: 2.1.3]
    - werkzeug [required: >=2.3.3, installed: 2.3.7]
      - MarkupSafe [required: >=2.1.1, installed: 2.1.3]
  - itsdangerous [required: Any, installed: 2.1.2]
  - WTForms [required: Any, installed: 3.0.1]
    - MarkupSafe [required: Any, installed: 2.1.3]
google-api-python-client==2.97.0
  - google-api-core [required: >=1.31.5,<3.0.0.dev0,!=2.3.0,!=2.2.*,!=2.1.*,!=2.0.*, installed: 2.11.1]
    - google-auth [required: >=2.14.1,<3.0.dev0, installed: 2.22.0]
      - cachetools [required: >=2.0.0,<6.0, installed: 5.3.1]
      - pyasn1-modules [required: >=0.2.1, installed: 0.3.0]
        - pyasn1 [required: >=0.4.6,<0.6.0, installed: 0.5.0]
      - rsa [required: >=3.1.4,<5, installed: 4.9]
        - pyasn1 [required: >=0.1.3, installed: 0.5.0]
      - six [required: >=1.9.0, installed: 1.16.0]
      - urllib3 [required: <2.0, installed: 1.26.16]
    - googleapis-common-protos [required: >=1.56.2,<2.0.dev0, installed: 1.60.0]
      - protobuf [required: >=3.19.5,<5.0.0.dev0,!=4.21.5,!=4.21.4,!=4.21.3,!=4.21.2,!=4.21.1,!=3.20.1,!=3.20.0, installed: 4.24.1]
    - protobuf [required: >=3.19.5,<5.0.0.dev0,!=4.21.5,!=4.21.4,!=4.21.3,!=4.21.2,!=4.21.1,!=4.21.0,!=3.20.1,!=3.20.0, installed: 4.24.1]
    - requests [required: >=2.18.0,<3.0.0.dev0, installed: 2.31.0]
      - certifi [required: >=2017.4.17, installed: 2023.7.22]
      - charset-normalizer [required: >=2,<4, installed: 3.2.0]
      - idna [required: >=2.5,<4, installed: 3.4]
      - urllib3 [required: >=1.21.1,<3, installed: 1.26.16]
  - google-auth [required: >=1.19.0,<3.0.0.dev0, installed: 2.22.0]
    - cachetools [required: >=2.0.0,<6.0, installed: 5.3.1]
    - pyasn1-modules [required: >=0.2.1, installed: 0.3.0]
      - pyasn1 [required: >=0.4.6,<0.6.0, installed: 0.5.0]
    - rsa [required: >=3.1.4,<5, installed: 4.9]
      - pyasn1 [required: >=0.1.3, installed: 0.5.0]
    - six [required: >=1.9.0, installed: 1.16.0]
    - urllib3 [required: <2.0, installed: 1.26.16]
  - google-auth-httplib2 [required: >=0.1.0, installed: 0.1.0]
    - google-auth [required: Any, installed: 2.22.0]
      - cachetools [required: >=2.0.0,<6.0, installed: 5.3.1]
      - pyasn1-modules [required: >=0.2.1, installed: 0.3.0]
        - pyasn1 [required: >=0.4.6,<0.6.0, installed: 0.5.0]
      - rsa [required: >=3.1.4,<5, installed: 4.9]
        - pyasn1 [required: >=0.1.3, installed: 0.5.0]
      - six [required: >=1.9.0, installed: 1.16.0]
      - urllib3 [required: <2.0, installed: 1.26.16]
    - httplib2 [required: >=0.15.0, installed: 0.22.0]
      - pyparsing [required: >=2.4.2,<4,!=3.0.3,!=3.0.2,!=3.0.1,!=3.0.0, installed: 3.0.9]
    - six [required: Any, installed: 1.16.0]
  - httplib2 [required: >=0.15.0,<1.dev0, installed: 0.22.0]
    - pyparsing [required: >=2.4.2,<4,!=3.0.3,!=3.0.2,!=3.0.1,!=3.0.0, installed: 3.0.9]
  - uritemplate [required: >=3.0.1,<5, installed: 4.1.1]
google-auth-oauthlib==1.0.0
  - google-auth [required: >=2.15.0, installed: 2.22.0]
    - cachetools [required: >=2.0.0,<6.0, installed: 5.3.1]
    - pyasn1-modules [required: >=0.2.1, installed: 0.3.0]
      - pyasn1 [required: >=0.4.6,<0.6.0, installed: 0.5.0]
    - rsa [required: >=3.1.4,<5, installed: 4.9]
      - pyasn1 [required: >=0.1.3, installed: 0.5.0]
    - six [required: >=1.9.0, installed: 1.16.0]
    - urllib3 [required: <2.0, installed: 1.26.16]
  - requests-oauthlib [required: >=0.7.0, installed: 1.3.1]
    - oauthlib [required: >=3.0.0, installed: 3.2.2]
    - requests [required: >=2.0.0, installed: 2.31.0]
      - certifi [required: >=2017.4.17, installed: 2023.7.22]
      - charset-normalizer [required: >=2,<4, installed: 3.2.0]
      - idna [required: >=2.5,<4, installed: 3.4]
      - urllib3 [required: >=1.21.1,<3, installed: 1.26.16]
matplotlib==3.7.2
  - contourpy [required: >=1.0.1, installed: 1.1.0]
    - numpy [required: >=1.16, installed: 1.25.2]
  - cycler [required: >=0.10, installed: 0.11.0]
  - fonttools [required: >=4.22.0, installed: 4.42.1]
  - importlib-resources [required: >=3.2.0, installed: 6.0.1]
    - zipp [required: >=3.1.0, installed: 3.16.2]
  - kiwisolver [required: >=1.0.1, installed: 1.4.5]
  - numpy [required: >=1.20, installed: 1.25.2]
  - packaging [required: >=20.0, installed: 23.1]
  - Pillow [required: >=6.2.0, installed: 10.0.0]
  - pyparsing [required: >=2.3.1,<3.1, installed: 3.0.9]
  - python-dateutil [required: >=2.7, installed: 2.8.2]
    - six [required: >=1.5, installed: 1.16.0]
msal==1.23.0
  - cryptography [required: >=0.6,<44, installed: 41.0.3]
    - cffi [required: >=1.12, installed: 1.15.1]
      - pycparser [required: Any, installed: 2.21]
  - PyJWT [required: >=1.0.0,<3, installed: 2.8.0]
  - requests [required: >=2.0.0,<3, installed: 2.31.0]
    - certifi [required: >=2017.4.17, installed: 2023.7.22]
    - charset-normalizer [required: >=2,<4, installed: 3.2.0]
    - idna [required: >=2.5,<4, installed: 3.4]
    - urllib3 [required: >=1.21.1,<3, installed: 1.26.16]
nltk==3.8.1
  - click [required: Any, installed: 8.1.6]
    - colorama [required: Any, installed: 0.4.6]
  - joblib [required: Any, installed: 1.3.2]
  - regex [required: >=2021.8.3, installed: 2023.8.8]
  - tqdm [required: Any, installed: 4.66.1]
    - colorama [required: Any, installed: 0.4.6]
openai==0.28.0
  - aiohttp [required: Any, installed: 3.8.5]
    - aiosignal [required: >=1.1.2, installed: 1.3.1]
      - frozenlist [required: >=1.1.0, installed: 1.4.0]
    - async-timeout [required: >=4.0.0a3,<5.0, installed: 4.0.3]
    - attrs [required: >=17.3.0, installed: 23.1.0]
    - charset-normalizer [required: >=2.0,<4.0, installed: 3.2.0]
    - frozenlist [required: >=1.1.1, installed: 1.4.0]
    - multidict [required: >=4.5,<7.0, installed: 6.0.4]
    - yarl [required: >=1.0,<2.0, installed: 1.9.2]
      - idna [required: >=2.0, installed: 3.4]
      - multidict [required: >=4.0, installed: 6.0.4]
  - requests [required: >=2.20, installed: 2.31.0]
    - certifi [required: >=2017.4.17, installed: 2023.7.22]
    - charset-normalizer [required: >=2,<4, installed: 3.2.0]
    - idna [required: >=2.5,<4, installed: 3.4]
    - urllib3 [required: >=1.21.1,<3, installed: 1.26.16]
  - tqdm [required: Any, installed: 4.66.1]
    - colorama [required: Any, installed: 0.4.6]
pip-tools==7.3.0
  - build [required: Any, installed: 0.10.0]
    - colorama [required: Any, installed: 0.4.6]
    - packaging [required: >=19.0, installed: 23.1]
    - pyproject-hooks [required: Any, installed: 1.0.0]
      - tomli [required: >=1.1.0, installed: 2.0.1]
    - tomli [required: >=1.1.0, installed: 2.0.1]
  - click [required: >=8, installed: 8.1.6]
    - colorama [required: Any, installed: 0.4.6]
  - pip [required: >=22.2, installed: 23.2.1]
  - setuptools [required: Any, installed: 58.1.0]
  - tomli [required: Any, installed: 2.0.1]
  - wheel [required: Any, installed: 0.41.1]
pipdeptree==2.13.0
pipreqs==0.4.13
  - docopt [required: Any, installed: 0.6.2]
  - yarg [required: Any, installed: 0.1.9]
    - requests [required: Any, installed: 2.31.0]
      - certifi [required: >=2017.4.17, installed: 2023.7.22]
      - charset-normalizer [required: >=2,<4, installed: 3.2.0]
      - idna [required: >=2.5,<4, installed: 3.4]
      - urllib3 [required: >=1.21.1,<3, installed: 1.26.16]
pymongo==4.4.1
  - dnspython [required: >=1.16.0,<3.0.0, installed: 2.4.2]
pyodbc==4.0.39
python-telegram-bot==20.5
  - httpx [required: ~=0.24.1, installed: 0.24.1]
    - certifi [required: Any, installed: 2023.7.22]
    - httpcore [required: >=0.15.0,<0.18.0, installed: 0.17.3]
      - anyio [required: >=3.0,<5.0, installed: 4.0.0]
        - exceptiongroup [required: >=1.0.2, installed: 1.1.3]
        - idna [required: >=2.8, installed: 3.4]
        - sniffio [required: >=1.1, installed: 1.3.0]
      - certifi [required: Any, installed: 2023.7.22]
      - h11 [required: >=0.13,<0.15, installed: 0.14.0]
      - sniffio [required: ==1.*, installed: 1.3.0]
    - idna [required: Any, installed: 3.4]
    - sniffio [required: Any, installed: 1.3.0]
statsmodels==0.14.0
  - numpy [required: >=1.18, installed: 1.25.2]
  - packaging [required: >=21.3, installed: 23.1]
  - pandas [required: >=1.0, installed: 2.1.0]
    - numpy [required: >=1.22.4, installed: 1.25.2]
    - python-dateutil [required: >=2.8.2, installed: 2.8.2]
      - six [required: >=1.5, installed: 1.16.0]
    - pytz [required: >=2020.1, installed: 2023.3]
    - tzdata [required: >=2022.1, installed: 2023.3]
  - patsy [required: >=0.5.2, installed: 0.5.3]
    - numpy [required: >=1.4, installed: 1.25.2]
    - six [required: Any, installed: 1.16.0]
  - scipy [required: >=1.4,!=1.9.2, installed: 1.11.2]
    - numpy [required: >=1.21.6,<1.28.0, installed: 1.25.2]
  - scipy [required: >=1.4,!=1.9.2, installed: 1.11.2]
    - numpy [required: >=1.21.6,<1.28.0, installed: 1.25.2]
